<?xml version="1.0" encoding="utf-8"?>
<plugin 
    xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    id="com.phonegap.plugins.fileopener.FileOpener" 
    version="0.0.1">
    
    <name>FileOpener</name>

    <asset src="www/fileopener.js" target="js/fileopener.js"/>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="FileOpener">
                <param name="android-package" value="com.phonegap.plugins.fileopener.FileOpener"/>            
            </feature>
        </config-file>
    </platform>
</plugin>
